<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/player-field.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>Play game</title>
  </head>
  <body>
    <!-- MY TEMP DRO4 -->

    <div id="main">
      <div id="room_list">
        <form id="room_add">
          <label class="label_fields" for="room_name_input">Room name: </label>
          <input type="test" id="room_name_input" />
          <button
            class="btn btn-outline-secondary"
            type="submit"
            id="room_create_button"
          >
            CREATE ROOM
          </button>
        </form>

        <!-- MY TEMP DRO4 -->

        <script type="module" src="/script/test.js"></script>
      </div>
    </div>
  </body>
</html>
