body {
  background-color: rgb(240, 240, 240);
}

.hover:hover {
  background: transparent;
  color: #0d6efd;
}

/*               LOGIN               */
.wrap__form {
  margin: 0 auto;
  width: 50%;
  margin-top: 100px;
}

.login__input {
  width: 50%;
  margin: 0 auto;
}

.button__login {
  margin-top: 20px;
}
/*         END         LOGIN         */
