<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Show other sites</h1>
        <form action="/">
            <input type="text" name="url" placeholder="url" required>
            <input type="submit" value="go">
            <a href="/">BACK</a><br>
        </form>
        <h3 id="info"><hr><%= locals.url %><hr></h3>
        <div id="Data"><%= locals.content %></div><br>
        <script type="text/javascript" src="script.js"></script>
    </body>
</html>